<h1>Edit this restaurant</h1>
<%= simple_form_for(@restaurant) do |f| %>
<%= f.input :name %>
<%= f.input :address %>
<%= f.input :category %>
<%= f.input :phone_number %>
<%= f.submit %>
<% end %>

<%= link_to 'Delete', restaurant_path(@restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to 'Go Back', restaurants_path(@restaurant)%>
